.QuizQuestion {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}
.QuizEnd {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}
.QuizEnd a {
  display: block;
  padding-top: 20px;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.answers ul {
  display: flex;
  justify-content: space-between;
}

.answers ul li button {
  padding: 20px 40px;
  background: transparent;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 22px;
  transition: all .2s;
}

.answers ul li button:hover {
  background: azure;
}

.error {
  color: red;
}